.profilepic{
   
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    margin-bottom: 50px;
    //border-radius: 50px;
}

.tableviver{
    margin-left: 200px;
}