.view{
    font-family: Candara;
    font-size: 15px;
    border-style: solid;
    width: 250px;
/*    min-width: 230px;
    max-width: 230px;*/
    padding: 10px;
    border-radius: 10px;
    display: table-cell;
}

